.stories {
margin: 10px 0px 0px;
max-width: 650px;
}
.entry-main {
padding: 5px 10px 0px 13px;
margin-bottom: 20px;
border-top: 0px none;
border-bottom: 0px none;
background: none repeat scroll 0% 0% rgb(247, 247, 247);
border: 1px solid rgb(233, 233, 233);
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: rgb(245, 245, 245);
border: 1px solid rgb(227, 227, 227);
border-radius: 4px 4px 4px 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.entry-date {
float: right;
color: rgb(102, 102, 102);
text-decoration: none;
margin: 0px;
}
.entry-title {
color: rgb(17, 85, 204);
font-size: 140%;
margin: 0px;
max-width: 650px;
}
.entry-title-link {
color: rgb(17, 85, 204);
text-decoration: none;
}
.entry-author {
color: rgb(102, 102, 102);
text-decoration: none;
margin: 0px;
}
.entry-source-title-parent {
color: rgb(102, 102, 102);
}
.entry-source-title {
color: rgb(17, 85, 204);
display: inline-block;
text-decoration: none;
}
.entry-body {
color: rgb(0, 0, 0);
padding-top: 0.5em;
max-width: 650px;
margin: 0px;
}
.item-body {
margin: 0px;
}
