h4, h5, h6 {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}
h1, h2 {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0;
    line-height: 27px;
}
h3 {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0;
    line-height: 27px;
    font-size: 18px;
}
.posts:first-child {
    margin: 10px 0 0;
}
.post {
    padding: 5px 10px 0 13px;
    margin-bottom: 20px;
    border-top: 0 none;
    border-bottom: 0 none;
}
.well {
    background: none repeat scroll 0 0 rgb(247, 247, 247);
    border: 1px solid rgb(233, 233, 233);
    min-height: 20px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.post .label {
    margin-bottom: 5px;
}
.label .label-transparent {
    background: none repeat scroll 0 0 transparent;
    color: rgb(34, 34, 34);
    text-shadow: none;
    font-weight: normal;
}
.label {
    border-radius: 4px 4px 4px 4px;
}
.pull-right {
    float: right;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 10.998px;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
}
.post .content {
    margin: 5px 0 0;
    padding: 0 0 10px;
    color: rgb(0, 0, 0);
}
.post .content .content-body {
    overflow: hidden;
}
